* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #d9d7dd;
}

.clock {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: #ffffff;
  font-family: "Montserrat";
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 6;
}
.sec {
  width: 180px;
  height: 180px;
  position: absolute;
  display: flex;
  justify-content: center;
  transform: rotateZ(180deg);
}
.sec::before {
  content: "";
  width: 2px;
  height: 90px;
  background-color: #ff4b3e;
  border-radius: 6px 6px 0 0;
  z-index: 5;
}
.min {
  width: 260px;
  height: 260px;
  position: absolute;
  display: flex;
  justify-content: center;
  transform: rotateZ(90deg);
}
.min::before {
  content: "";
  width: 4px;
  height: 130px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background-color: #000000;
  z-index: 4;
}
.hour {
  width: 190px;
  height: 190px;
  position: absolute;
  display: flex;
  justify-content: center;
  transform: rotateZ(290deg);
}
.hour::before {
  content: "";
  width: 6px;
  height: 90px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background-color: #000000;
  z-index: 4;
}
